:root {
	--fontF: 'Fira Sans Extra Condensed';
	--fontC: white;
	--bodyFluidBg: lightgrey;

	/*Artiklar & About us*/
	--artHeightTop: 65vh;
	--artRespTextCap: 4vw;
	--artRespTextMeta: 4vw;
	--artRespTextSmall: 2.5vw;
	--artRespTextForPic: 3vw;
	--artRespTextSource: 2vw;
	--textBg: #262626;
	--captionFontS: 3.5vw;
	--captionMetaS: 1.8vw;
	--textMetaS: 1.2vw;
	--textForPic: 1vw;

	/*Quiz*/
	--darkGrey: #1a1a1a;
	--mediumGrey: #797979;
	--grey: #e6e6e6;
	--black: black;
	--black: black;
	--green: mediumseagreen;

	--smallTitle: 13px;
	--mediumTitle: 18px;
	--mediumFont: 24px;
	--overFont: 30px;
	--timeFont: 25px;
	--bigFont: 40px;
	--buttonFont: 22px;
	--smallFont: 12px;
	--answerFont: 16px;
	--questionFont: 20px;

	--fontExtraThick: 700;
	--fontThick: 600;
	--fontMedium: 500;
	--fontThin: 400;
	--fontExtraThin: 300;

	/*Index*/
	--red: #e92227;
	--mainH: calc(100vh - var(--navH));
	--carCtrls: calc(var(--footerH) + 2);
	--spideyHeight: 45vh;

	/*Navigationen*/
	--navBg: #630106;
	--navH: 40px;

	/*Footern*/
	--footerBg: #595959;
	--footerText: 0.9vw;
	--footerH: 20vh;
	--fotRespCap: 4.5vw;
	--fotRespSmall: 2.5vw;
}

* {
	margin: 0;
	padding: 0;
}

nav {
	height: var(--navH);
	background-color: var(--navBg);

	display: flex;
	justify-content: center;
	align-items: center;
	/* width: 100%; */
	width: calc(100% - 6vw);
	padding: 0 3vw;
}

.nPlaceHolder {
	flex-grow: 1;
	height: 100%;
	flex-basis: 1px;
}

.nNavBar {
	flex-grow: 3;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-basis: 1px;
	font-weight: var(--fontMedium);
}

.nInputBar {
	flex-grow: 1;
	display: flex;
	justify-content: flex-end;
	box-sizing: border-box;
	flex-basis: 1px;
}

.nSeachDiv {
	display: flex;
	justify-content: center;
	align-items: center;
}

.nSeachBar {
	color: var(--fontC);
	font-family: var(--fontF);
	font-size: var(--textForPic);
	background-color: transparent;
	border: none;
	border-bottom: solid var(--fontC) 2px;
}

.nLink {
	color: var(--fontC);
	font-family: var(--fontF);
	text-decoration: none;
	box-sizing: border-box;
	flex-grow: 1;
	flex-basis: 1px;
	height: var(--navH);

	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.nArrow {
	border: solid var(--fontC);
	border-width: 0 3px 3px 0;
	display: inline-block;
	padding: 2px;
	transform: rotate(45deg);
	margin-left: 0.5vw;
}

.nDropBox {
	display: none;
}

.nLink:hover {
	height: 100%;
	background-color: var(--fontC);
	color: var(--navBg);
	transition: background-color .6s, color .6s;
	cursor: pointer;
}

.nDropA {
	box-sizing: border-box;
	border-width: 0 3px 3px 0;
}

.nDivLogo:hover {
	background-color: var(--navBg);
}

.nDrop {
	position: relative;
	display: flex;
}

.nDrop:hover>div>p>.nArrow {
	border: solid var(--navBg);
	border-width: 0 3px 3px 0;
	transition: border .5s;
}

.nDiv {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;

	height: var(--navH);
}

.nDropBox {
	position: absolute;
	overflow: hidden;
	z-index: 1;
	background-color: var(--navBg);
	top: var(--navH);
	width: 100%;
}

.nDropA {
	color: var(--fontC);
	text-decoration: none;
	font-family: var(--fontF);
	box-sizing: border-box;
	width: 100%;
	display: block;
	padding: 0.5%;
	box-sizing: border-box;
	width: 100%;
	padding-left: 6%;
}

.nDropP {
	font-size: 1.3vw;
	margin: 0.9vw;
	text-transform: uppercase;
}

.nDropA:hover {
	color: var(--navBg);
	transition: background-color .6s, color .6s;
	background-color: var(--fontC);
}

.nText {
	box-sizing: border-box;
	margin: 0px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.nDivLink {
	display: flex;
	justify-content: center;
	align-items: center;
	height: var(--navHeight);
}

/* ------------------------------------------------------------------------------------------------------------------ */

#searchResultsContainer {
	position: absolute;
	width: 100%;
	z-index: 30;
	display: flex;
	flex-direction: column;
	align-items: center;
}


#searchResultsInner {
	width: 100%;
	max-width: 1300px;
	background-color: rgba(99, 1, 6, .9);
	color: white;
}

#searchResultsInner>h2 {
	flex-basis: 10vh;
	display: flex;
	align-items: center;
	padding: 1% 3%;
	font-size: 2vw;
	font-family: var(--fontF);
}

#searchResultsInner>h2 span {
	margin-left: 10px;
	font-style: italic;
}

#searchResultsInner h3 {
	text-decoration: none;
}

#searchResultsInner a:hover {
	background-color: white;
	border: 1px solid rgba(99, 1, 6, .9);
	transition: background-color .5s;
	-webkit-transition: background-color .5s, border .5s;
	-moz-transition: background-color .5s;
	-ms-transition: background-color .5s;
	-o-transition: background-color .5s;
}

#searchResultsInner a:hover h3 {
	color: rgba(99, 1, 6, .9);
	transition: color .5s;
	-webkit-transition: color .5s;
	-moz-transition: color .5s;
	-ms-transition: color .5s;
	-o-transition: color .5s;
}

.searchResDiv {
	height: calc((var(--mainH) - 10vh)/6);
	border: 1px solid white;
	display: flex;
	text-decoration: none;
}

.searchImg {
	flex-basis: 25%;
	background-size: cover;
	background-position: top;
}

.searchTitle {
	flex-grow: 1;
	display: flex;
	align-items: center;
}

.searchTitle h3 {
	font-size: 2vw;
	color: white;
	font-family: var(--fontF);
}

#searchDivContainer {
	max-height: 57vh;
	overflow-y: scroll;
}

@media (max-width: 899px) {
	#searchDivContainer {
		max-height: 100vh;
	}

	#searchResultsInner>h2 {
		font-size: 5vw;
	}

	.searchTitle h3 {
		font-size: 4vw;
	}

	input.nSeachBar {
		font-size: 3vw;
	}
}

@media (min-width: 900px) {
	#searchResultsContainer {
		position: absolute;
		width: 50vw;
		right: 0;
		top: var(--navH);
		z-index: 30;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
}


/* -------------------------------------------------------------------------------------------------------------------- */

/*KOD FÖR FOOTER*/
footer {
	background-color: var(--footerBg);
	height: 15vh;

	display: flex;
	color: var(--fontC);
	width: 100%;
}

.footerDev {
	font-family: var(--fontF);
	color: var(--fontC);
	height: inherit;
	width: calc(100vw / 3);

	display: flex;
	text-align: left;
	justify-content: center;
	flex-direction: column;
	padding-left: 10vw;
}

.footerCap {
	color: var(--fontC);
	font-size: max(var(--textMetaS), 20px);
	padding-bottom: 0.5vw;
	min-width: 200px;
	font-weight: var(--fontThick)
}

.footerSmall {
	color: var(--fontC);
	font-size: max(var(--footerText), 11px);
	font-weight: var(--fontExtraThin);
}

@media (max-width: 900px) {

	/*RESPONSIV FOOTER*/
	footer {
		flex-direction: column;
		height: auto;
		padding-bottom: 20px;
	}

	.footerDev {
		height: 18vw;
	}

	.footerCap {
		font-size: var(--fotRespCap);
		width: -webkit-max-content;
		width: -moz-max-content;
		width: max-content;
	}

	footer>div:nth-child(1) {
		margin-top: 8px;
	}

	footer>div:nth-child(3) {
		margin-top: 8px;
	}

	.footerSmall {
		font-size: var(--fotRespSmall);
		width: -webkit-max-content;
		width: -moz-max-content;
		width: max-content;
	}

	nav {
		width: 100%;
		padding: 0;
	}

	.nNavBar {
		flex-grow: 1;
	}

	.nPlaceHolder {
		display: flex;
		justify-content: flex-start;
		align-items: center;
		box-sizing: border-box;
	}

	.nSquareNav {
		display: flex;
		/* position: relative; */
		box-sizing: border-box;
		height: var(--navH);
		width: var(--navH);
		cursor: pointer;
	}

	.nSquareBox {
		width: inherit;
		height: inherit;
		position: relative;
		margin-left: 5px;
	}

	.nDropP {
		font-size: 3vw;
		margin: 2vw;
	}

	.nLine {
		background-color: var(--fontC);
		width: 90%;
		height: 3.5px;
		position: absolute;
		border-radius: 10px;
	}

	.nFirstSpan {
		top: 25%;
	}

	.nMidSpan {
		top: 45%;
	}

	.nLastSpan {
		top: 65%;
	}

	.nText {
		font-size: 4vw;
	}

	.nSquareDrop {
		max-height: 0px;

		width: 100%;
		position: absolute;
		overflow: hidden;
		z-index: 1;

		background-color: var(--navBg);
		top: var(--navH);
		transition: max-height .5s;
	}

	.nLogoResp {
		display: none;
	}

	.nLink {
		box-sizing: border-box;
		border-bottom: solid var(--fontC) 4px;
		padding: 4%;
	}

	.nLink:hover {
		height: auto;
	}

	.nDrop {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		padding: 5% 0%;
	}

	.nDrop>.nDropBox {
		display: flex;
		flex-wrap: wrap;

		position: static;
	}

	.nDropA {
		width: 50%;
		padding: 0%;

		display: flex;
		justify-content: center;
	}

	.nArrow {
		display: none;
	}

	.nDropA:nth-child(2n) {
		border-left: solid var(--fontC) 4px;
	}

	.nDrop:hover {
		background-color: var(--navBg);
		color: var(--fontC);
	}

	.nSeachDiv {
		width: 100%;
		float: right;
		display: flex;
		justify-content: flex-end;
		padding-right: 10px;
	}

	.nSeachDiv>input {
		width: 0%;
		border-color: var(--navBg);
		transition: width 0.8s, border-color 0.0001s;
	}
}


@media (min-width: 1300px) {
	.nDropP {
		font-size: 1em;
		margin: 5%;
	}
}